<h1>Add a new actor</h1>
<form  action="/actors/create_row">
  <div >
    <label for="actor_name"> actor Name</label>
    <input id="actor_name" name="name" type = "string">
  </div>
  <div >
    <label for="actor_dob"> actor DOB</label>
    <input id="actor_dob" name="dob" type = "string">
  </div>
  <div >
    <label for="actor_bio"> actor Bio</label>
    <input id="actor_bio" name="bio" type = "text">
  </div>
  <div >
    <label for="actor_image"> actor Image</label>
    <input id="actor_image" name="image_url" type = "string">
  </div>
  <div>
      <button>Create actor </button>
  </div>

</form>
