<h1>Add a new movie</h1>
<form  action="/movies/create_row">
  <div >
    <label for="movie_title"> Movie Name</label>
    <input id="movie_title" name="title" type = "string">
  </div>
  <div >
    <label for="movie_year"> Movie year</label>
    <input id="movie_year" name="year" type = "integer">
  </div>
  <div >
    <label for="movie_durationr"> Movie duration</label>
    <input id="movie_duration" name="duration" type = "integer">
  </div>
  <div >
    <label for="movie_description"> Movie description</label>
    <input id="movie_description" name="description" type = "text">
  </div>
  <div >
    <label for="movie_image"> Movie Image</label>
    <input id="movie_image" name="image_url" type = "string">
  </div>
  <div>
      <button>Create Movie </button>
  </div>

</form>
