<h1>Add a new Director</h1>
<form  action="/directors/create_row">
  <div >
    <label for="director_name"> Director Name</label>
    <input id="director_name" name="name" type = "string">
  </div>
  <div >
    <label for="director_dob"> Director DOB</label>
    <input id="director_dob" name="dob" type = "string">
  </div>
  <div >
    <label for="director_bio"> Director Bio</label>
    <input id="director_bio" name="bio" type = "text">
  </div>
  <div >
    <label for="director_image"> Director Image</label>
    <input id="director_image" name="image_url" type = "string">
  </div>
  <div>
      <button>Create Director </button>
  </div>

</form>
